<!-- 
	Put the skeleton HTML for your Landing page here
	DO NOT include <html>, <head>, or <body> tags
	
	(don't remove the parent div)
-->

<div>
	<script type="text/template" id="template_landing">
	
		<!-- core landing page html -->
		<header>
			<section id="header">
				<h1 id="logo">Time Assassin</h1>
				<aside>
					<h1>Kill Procrastination</h1>
					<h2>enough with laziness, liquidate the things you need to get done</h2>
					<h3>Be The Trigger Man of You''re Own Time</h3>
						<span class="cta_button">Sign Up For Free</span>			
				</aside>
				<div class="clearfix"></div>
			</section>
		</header>
		
		<article id="dialog-form" class="hidden">
			
				<!--<div id="modal">-->
						<!-- <span id="t_account">Creat A New Account</span> -->
						<span id="modal-error" class="hidden">Fill required feilds with valid information</span>
							<form id="contact" method="post" action="#">
								<div class="username">						
									<label for="new_username">Username:</label>
									<input type="text" name="new_username" id="new_username" />
								</div>
								<div class="newEmail">						
									<label for="new_email">Email:</label>
									<input type="text" name="new_email" id="new_email" />
								</div>
								<div class="newPass">						
									<label for="new_pass">Password:</label>
									<input type="text" name="new_pass" id="new_pass" />
								</div>
							</form>
					<!--<span id="submit">Submit</span><span id="cancel">Cancel</span> -->

			<!-- </div> -->
		</article>

		<div id="wrapper-color">
			<div id="wrapper">
			<article id="body">
				
				<img alt="Screenshots of the Application" src="images/launchpage_Design_07.jpg">

				<aside>
					<p>Member&#39;s Login</p>
					<span id="login-error" class="hidden">Incorrect Username or Password</span>
					<div class="input">						
						<label for="username">Username:</label>
						<input type="text" name="username" id="username" />
					</div>

					<div class="input">						
						<label for="pass">Password:</label>
						<input type="text" name="pass" id="pass" />
					</div>
					<ul>
						<li>Effective</li>
						<li>Easy To Use</li>
						<li>Entirely Free</li>
					</ul>
					<div id="float_div">
						<span class="login">Login</span>
						<h4>Join Up</h4>
					</div>	

				</aside>
				<div class="clearfix"></div>			
			</article>

				<div class="clearfix"></div>
			<article id="detail">
				<p>Time Assasin is an on-air task managing application designed to provide minimalistic effectiveness in managing one’s personal, business, or financial projects or tasks. The desing of the application makes use of whitepsace and the minimalistic functionality that can be extracted without reducing its effectiveness. The application will allow the user to make tasks and appointments, allowing him/her to set the appointed times of their assignment as well as when each task or appointment is dues. The user will also be able to assign their subjects, make the notes pertaining to each task or appointment, and edit the features if change is desirable after assignment.</p>
			</article>
			</div>
		</div><!--real Wrapper-->
			<article id="multi">
				<div id="align">
				<aside class="secs">
					<img src="images/launchpage_Design_11.png" />

					<div class="secs_text">
						<h5>Add Tasks and Projects</h5>

						<p>Entering any number of tasks or projects in Time Assassin is fast and simple. you can chose to create either a project or a task fromt he sidebar and edit those taks rightaway.</p>
					</div>
					<div class="clearfix"></div>

				</aside>

				<aside class="secs">
					<img src="images/launchpage_Design_13.png" />

					<h5>Mutli-Tied Management</h5>

					<p>Colored coding will allow you to organize tasks and projects in means of importance and prioritize the time you give to each allowing you to stay focused and on time.</p>

				</aside>

				<aside class="secs">
					<img src="images/launchpage_Design_15.png" />

					<h5>Add Tasks and Projects</h5>

					<p>Entering any number of tasks or projects in Time Assassin is fast and simple. you can chose to create either a project or a task fromt he sidebar and edit those taks rightaway.</p>

				</aside>
				</div>
			</article>
			<footer>
				<h3>Hugo Lacerda &copy; Unpublished 2012 | hugolacerda@fullsail.edu &ordm; 904-718-6364</h3>
			</footer>
	
	</script>
</div>